body{
    background-color: w;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    height: 70px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 20px;
    
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation li a:hover {
    color: brown;
}
nav li {
    list-style-type:none ;
}

nav li a {
    text-decoration: none;
    color: black;
    
}

.active::after {
	content: "";
	background: #410002;
	display: block;
	height: 3px;
	width: 20px;
	margin: 5px auto 5px;
}

.intro {
    padding: 10px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-out, transform 2.5s ease-out;
    }

.intro.pop-out {
    opacity: 1;
    transform: scale(1);
}
.main-intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 55px 20px;
}

.intro-image {
    padding: 0 0 20px 100px;
    display: flex;
    gap: 10px;
    width: 80%;
}

.flip {
    transition: transform 0.15s ease;
}
.flip.flipped {
    transform: scaleX(-1);
}

.Services {
    background-color: rgb(98, 75, 75);
    padding-top: 20px;
    text-align: center;
}

.Services h1 {
    font-size: 30px;
}
.S2{
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    grid-template-rows: repeat(2, minmax(40px, 1fr));
    padding: 10px;
    
}
.S2 p {
    font-style: italic;
}

/* FOOTER  */

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    padding: 10px;
    padding: 0px 20px;
}
.footer-column li{
    padding-bottom: 15px;
    list-style-type: none;
}

.footer-column li a {
    text-decoration: none;
    color: black;
}
footer p {
    text-align: center;
    font-style: italic;
    font-size:small;
}
.footer-column li a:hover {
    color: brown;
}

#footer h3{
    text-align: center;
}
/* About us */
#our-story {
    background-color: gold;
    padding: 10px 20px 20px 20px;
    margin-top:15px;
}
#our-mission {
    background-color: gold;
    padding: 10px 20px 20px 20px;
    margin-top:15px;
}

#meet-the-team {
    background-color: gold;
    padding: 10px 20px 20px 20px;
    margin-top:15px;
    overflow: hidden;
}
.team-member {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: repeat(1, minmax(40px, 1fr));
    padding: 50px;
    transition: transform 0.3s ease-in-out; /*hover effect*/
}
/*hover effect*/
.team-member.hover {
    transform: scale(1.1);
}

.team-member p {
    font-style: italic;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.slide-in {
    transform: translateX(-100%);
    transition: transform 5s ease-in-out;
}

.slide-in.visible {
    transform: translateX(0);
}
